{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Ammad Site{% endif %}
{% endblock %}
 
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('view_Ultrasonicdata') }}">Sensor Data</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('view_Ultrasonicdata') }}">Ultrasonic</a></li>
                <li><a href="{{ url_for('view_DHTdata') }}">DHT11</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
        
{% endblock %}


</html>